*{
    box-sizing: border-box;
    width: 100%;
   
}

.main{
    background: url(images/pexels-photo-2064522.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 595px;
    
}

span{
    width: 200px;
    background-color: green;
}



.form-container{
  margin: auto 0;
  padding-left: 550px;
  padding-top: 50px;
}

h2{
    font-size: 30px;
    color: white;
}

input[type=text],input[type=password],input[type=email]{
   border: none;
    outline: none;
    border-bottom: 1px solid #dbd3d3;
    padding: 15px 5px;
    width: 200px;
    border-radius: 10px;

   

}

button{
    outline: none;
    color: white;
   cursor: pointer;
    background-color: #274BC8;
    outline: none;
    border-radius: 10px;
    width: 300px;
    height: 40px;
}


.fa {
    padding: 6px;
}
.fa:hover{
    color: #274BC8;
}
